$white-color: #FFFFFF;
$green-color: #2F956D;
   
.click {
        padding: 10px 30px;
        font-size: 17px;
        border: 1px solid $green-color;
        background-color: $white-color;
        color: $green-color;
        text-decoration: none;
        &:hover {
            background-color: $green-color;
            color: $white-color;
        }
    }


