.homeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #FFFFFF;
  
        .click {
            border: 1px solid #CCC;
            text-decoration: none;
            transition: all 0.3s ease;
            padding: 15px 30px;
            font-size: 1rem;
            float: right;
            margin-right: 70px;
            color: #626364;
            &:hover {
                background-color: #626364;
                color: #FFFFFF;
            }
    }
}