.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: white;
    padding: 50px 80px;
}

.headerLogo {
    display: flex;
    gap: 10px;
}

.headerLink {
    display: flex;
    gap: 50px;
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-size: 18px;
}

.homeLink {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

.listLink:hover{
    border-bottom: 1px solid white;
    padding-bottom: 10px; 
}